<div class="app-content">
  <mat-card class="example-card" *ngFor="let event of events" [routerLink]="['/events', event.id]" [state]="event">
    <mat-card-header>
      <mat-card-title> {{ event.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="event.photo" alt="Photo">
    <mat-card-content>
      <p>
        {{ event.date | date: 'MMM dd, yyyy' }} - {{ event.location }}
      </p>
      <p>
        Validated tickets {{ event.validateTickets + ' / ' + event.ticketsCount  }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
